SECRET_KEY=django-insecure-&zj&j+__0hxc*g7fqb(%m2as1r0^z8me3zg%u2gm54fm8!_hs7

POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=0.0.0.0
REDIS_PORT=6379

EMAIL_HOST=0.0.0.0
EMAIL_PORT=1025

WEATHER_API_SOCKET=0.0.0.0:50051
